.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.aws-sam
samconfig.toml
packaged-template.yaml
packaged-template.yml
packaged.yaml
